# azure-pipelines.yml

trigger:
- master

# Use Microsoft-hosted agent
pool:
  vmImage: 'ubuntu-latest'   # or 'windows-latest'

steps:
- task: AzureCLI@2
  displayName: 'Running Pipeline Script'
  inputs:
    azureSubscription: 'myServiceConnection1'
    scriptType: 'bash'
    scriptLocation: 'scriptPath'
    scriptPath: 'pipeline_script.sh'
