trigger:
- master

pool:
  name: 'My Agent'

steps:
- task: AzureCLI@2
  displayName: 'Running Pipeline Script'
  inputs:
    azureSubscription: 'myServiceConnection1'
    scriptType: 'ps'
    scriptLocation: 'inlineScript'
    inlineScript: |
      bash "$(Build.SourcesDirectory)/pipeline_script.sh"
