trigger:
- master

pool:
  name: 'My Agent'

steps:
- task: AzureCLI@2
  displayName: 'Running Pipeline Script'
  inputs:
    azureSubscription: 'myServiceConnection1'
    scriptType: 'ps'        # PowerShell on Windows
    scriptLocation: 'scriptPath'
    scriptPath: 'pipeline_script.sh'
